.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
  font-size: 1.3rem;
}

body {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  margin: 0 75px;
}

footer {
  background-color: #282c34;
}

button {
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 12px;
  margin: 0;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ronnie {
  max-width: 300px;
  max-height: 500px;
}
